<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Caudex&family=Cinzel&display=swap" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="static/favicon.svg" sizes="any">
    <link rel="stylesheet" href="static/style.css">
    <title>Photobox</title>
    <script src="static/script.js" defer></script>
</head>
<body>
    <h1>JESSICA & RAPHAEL</h1>
    <p><a href='#' id="takePhoto">Take Photo</a></p>
    <p><img width="500px" id="preview" src="" alt="" /></p>
    <p><a href='#' id="printPhoto">Print</a></p>
</body>
</html>